body {
	font-family: 'helvetica', 'arial', sans-serif;
	text-align: center;
}

.left {
	background-color: #ADDFFF;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
}

.interface {
	text-align: center;
	padding: 140px 50px 40px;
	color: #fff;
}

h1 {
	
	font-size: 4em;

}

.right {
	background-color: #ADDFFF;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
}

.ground {
	background-color: #333;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 1000%;
	height: 20px;
}

.nervous {
	position: absolute;
	bottom: 300px;
	left: 135px;
	background: url('../images/nervous.png') no-repeat 0 0;
	width: 220px;
	height: 45px;
	display: none;
}

.nervous.show {
	display: block;
}

.cant-wait {
	position: absolute;
	bottom: 375px;
	right: 140px;
	background: url('../images/cant-wait.png') no-repeat 0 0;
	width: 240px;
	height: 45px;
	display: none;
}

.cant-wait.show {
	display: block;
}

.rocket {
	position: absolute;
	left: 50%;
	bottom: 20px;
	width: 255px;
	height: 390px;
	margin-left: -110px;
	background: url('../images/rocket-A1.png') no-repeat;
	transition: bottom 10000ms;
}

/* rocket bg image*/
body.body-state2 .rocket {
	background-image: url('../images/rocket-A1.png');
}

body.body-state3 .rocket,
body.body-state4 .rocket {
	background-image: url('../images/rocket-A3.gif'); 
	height: 450px;

}

 
body.body-state5 .rocket {
	background-image: url('../images/boom.png');
	width: 400px;
	height: 400px;
	margin-left: -250px;
}

body.body-state1 .rocket {
	transition: none;
}




body.body-state3 .rocket,
body.body-state4 .rocket {
	bottom: 1000px;
}

.state1, .state2, .state3, .state4, .state5 {
	display: none;
}

body.body-state1 .state1{display: block;}
body.body-state2 .state2{display: block;}
body.body-state3 .state3{display: block;}
body.body-state4 .state4{display: block;}
body.body-state5 .state5{display: block;}

a {
	text-decoration: none;
}

a.button {
	display: inline-block;
	padding: 20px 40px;
	background-color: red;
	color: #fff;
	font-weight: bold;
	border-radius: 20px;
	transition: color 300ms;
	text-transform: uppercase;
	border: 5px solid white;
}

a:hover {
	color: #000;
}